<% content_for(:title, "Acerca De") %>

<p>Nocturnalia es un homenaje a la noche y a la obscuridad donde habitan criaturas fantasmagóricas y fascinantes, lugar donde adquirimos nuestra forma y nuestra esencia;  es la zona donde podemos contactar con nuestra parte más turbia, melancólica y decadente, es aquél espejo humeante que muestra el reflejo es el más certero de nosotros mismos, a veces produciendo miedo y al mismo tiempo la fuerza que nos permite renacer y evolucionar a las formas más perfectas de nuestro ser. Es en ella donde se resguarda taciturno nuestro lado salvaje, cercano a la locura que desentona con los ritmos de la decadencia actual  que impide nos perdamos en la vorágine de la inmediatez y lo vacuo.</p>

<h2>Sobre Mí</h2>
<p>Alejandra ente creativa y emprendedora, amante de las tonalidades más intensas de la naturaleza; para calmar mis deseos  de vivir en medio del bosque plasmo animales y plantas que crean una válvula para expulsar la negatividad de la vida en sociedad. Es pasadas las 10 de la noche cuando encuentro mi mayor motivación por dibujar.</p>
