<h1>Want to get in contact with me?</h1>
<p>Just drop me a line to myemail@mydomain.com or tweet me @mytweeter, you can also find my facebook page here *insert facebook page* or, if you prefer, WhatsApp me or call me under *insert phone number*.</p>
<p>I'll be happy to hear your ideas!</p>
