<div id="home">
  <header>
    <h1>Home</h1>
  </header>
  <div class="row">
    <div class="col-lg-8">
      <p>Fashion axe bicycle rights artisan photo booth sriracha franzen. Humblebrag thundercats venmo pickled accusamus cronut. Deep v shoreditch snackwave, williamsburg bicycle rights mustache sartorial hella selvage pork belly trust fund salvia. Small batch consequat lyft organic. Ullamco nulla hammock yuccie. Migas fam shoreditch irony air plant subway tile sustainable assumenda unicorn. Artisan glossier kitsch, shoreditch dolore jianbing meditation wolf sustainable bitters poutine nihil raclette.</p>
      
      <p>Poutine cornhole green juice, chillwave succulents poke knausgaard 3 wolf moon non meditation biodiesel franzen. La croix in freegan minim placeat. Literally tacos officia, enim asymmetrical paleo polaroid subway tile. Food truck sartorial letterpress, delectus paleo disrupt lumbersexual accusamus copper mug bicycle rights. Banh mi enamel pin VHS, cardigan bicycle rights enim wolf nisi vape offal messenger bag drinking vinegar. Seitan ad velit helvetica thundercats small batch. Duis gluten-free magna, thundercats green juice wayfarers drinking vinegar enamel pin retro franzen you probably haven't heard of them pok pok et chillwave.</p>
      <p>Poutine cornhole green juice, chillwave succulents poke knausgaard 3 wolf moon non meditation biodiesel franzen. La croix in freegan minim placeat. Literally tacos officia, enim asymmetrical.</p>
    </div>
    <div class="col-lg-4">
    <%= image_tag("cups.jpg", class: "img-responsive introimage") %>
    </div>
  </div>
</div>
