<% content_for(:title, "Mensaje Enviado") %>

<div class="panel panel-default">
  <div class="panel-body">
    <p>¡Muchas gracias por tu mensaje! Te responderé lo más pronto posible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->