<table>
  <tbody>
    <tr>
      <td><h2>¡Te damos la bienvenida!</h2></td>
    </tr>
    <tr>
      <td><p>Gracias por registrarte en <%= @appname %></p></td>
    </tr>
    <tr>
      <td><p><strong>El equipo de <%= @appname %></strong></p></td>
    </tr>
  </tbody>
</table>