// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  margin-top: 1em;
}

#description,
#materials,
#comments {
  background-color: transparent;
}

.comment-list {
  margin-left: 0;
}

.nav-tabs>li.active>a {
  color: #1D2021;
}

.comments-text {
  width: 100%;
  height: 5em;
}