// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { box-sizing: border-box;
/*border: 1px solid aqua;*/}

body, 
html { 
  height: 100%;
  background-color: #FCFCFC;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'BioRhyme Expanded', serif;
}

h1 {
  color: #785589;
  padding-bottom: 2vh;
  margin: 0 auto;
  text-align: right;
  font-size: 4em;
  text-transform: uppercase;
}

h4 {
  font-family: 'BioRhyme', serif;
}

h5 {
  font-family: 'Lato', sans-serif;
  
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  text-align: justify;
}

.row {
  background-color: #FCFCFC;}

#wrapper { 
  min-height: 100%; 
  width: 100%;
}

.navbar-brand {
  margin:  1vh 0;
  padding: 0;
}

.logo {
  width: 10vw;
}

#content { 
  padding-top: 6em; 
  padding-bottom: 3em; /* padding should match footer height. */
  overflow: auto; 
} 

.introimage {
  position: relative;
  top: 50%;
  width: 100%;
  margin: 1em auto;
}

footer { 
  margin-top: -3em; 
  height: 3em; /* height should match neg margin.*/
  background-color: transparent;
  color: #1D2021;
  width: 100%;
  padding: 0.25em;
  z-index: 19999;
  font-size: 0.9em;
  position: relative; 
  left: 0; 
  right: 0;
} 

#copy {
  font-size: 0.8em;
  margin-bottom: 0;
  padding: 0.25em;
}

.copyright {
  display: inline-block;
  float: left;
}

.social {
  color: #1D2021;
  margin: 0.5em;
  display: inline-block;
  float: right;
}

.social:hover {
  color: #785589;
  margin: 0.5em;
  display: inline-block;
  float: right;
}

/*-------------------------------*/
/*     Navbar nav styles         */
/*-------------------------------*/

nav {
  height: 6em;
  position: relative;
}

.navbar {
  margin-bottom: 0;
  background-color: #FCFCFC;
  border: 0;
}

container-fluid>.navbar-header {
  margin-right: 50vw;
}

.navbar-inverse .navbar-brand {
  font-family: 'BioRhyme Expanded', serif;
  font-size: 3em;
  color: #1D2021;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #785589;
}

.list-inline {
  position: absolute;
  top: 0;
  right: 0;
}

.list-inline .fa {
  color: #1D2021; /* White text color */
  font-size: 2em; /* Increased font-size */
  text-align: center; /* Center-align text */
    padding: 0.5em 0.25em; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.list-inline .login {
  color: #1D2021; /* White text color */
  font-size: 1em; /* Increased font-size */
  text-align: center; /* Center-align text */
    padding: 0.5em 0.25em; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.list-inline .fa:hover,
.list-inline .login:hover {
  color: #785589; /* Add a hover color */
  text-decoration: none;
}

li {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.icon-bar {
  width: 5em; /* Set a specific width */
  position: fixed;
  border-width: 0;
  z-index: 1030;
  left: 0;
  transform: translateY(25vh);
  background-color: transparent;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 0.5em; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #1D2021; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    color: #785589; /* Add a hover color */
}

.active {
    background-color: #785589; /* Add an active/current color */
}
