<% content_for(:title, "Tienda") %>

<p id="notice"><%= notice %></p>

<div class="row">
  <% @products.each_with_index do |product, index| %>
    <%= render product %>
    <% if (index + 1) % 2 == 0 %>
      <div class='clearfix visible-sm-block'></div>
    <% end %>
    <% if (index + 1) % 4 == 0 %>
      <div class='clearfix visible-md-block'></div>
    <% end %> 
  <% end %>
</div>
<%= link_to 'New Product', new_product_path %>