<!DOCTYPE html>
<html>
  <head>
    <title>Nocturnalia</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body data-spy="scroll" data-target=".navbar">
    <div id="wrapper">
      <div class="overlay"></div>
<!--navbar starts here-->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Events</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Stickers</a></li>
              <li><a href="#">Cups</a></li>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Plush Toys</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Social Media</a></li>
        </ul>
      </nav>
<!-- end navbar -->
<!-- /#sidebar-wrapper -->

       <!-- Page Content -->
       <div id="page-content-wrapper">
           <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
               <span class="hamb-top"></span>
         <span class="hamb-middle"></span>
       <span class="hamb-bottom"></span>
           </button>
           <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-12">
                     <%= yield %>
               </div>
           </div>
       </div>
       <footer>
         &copy; 2016 Nocturnalia
       </footer>
       <!-- /#page-content-wrapper -->

   </div>
   <!-- /#wrapper -->





  </body>
</html>
